{{ if .Site.IsServer }}
<button id="container-menu" onclick="changeContainerVisibility()"
    class="block w-6 h-6 -mb-1 text-xs text-blue-600 uppercase bg-blue-200 rounded-full pointer-events-auto opacity-40">
    <span>C</span>
</button>

<div id="container-area"
    class="container fixed inset-0 top-0 hidden h-full mx-auto bg-gray-400 pointer-events-none bg-opacity-10 -z-50">
    <p></p>
</div>

<script>
    function setContainerVisibility(data) {
        var showContainer = data;
        var e = document.querySelector("#container-area");
        if (e.classList.contains("hidden") == showContainer) {
            e.classList.toggle("hidden");
        }
        sessionStorage.setItem("showContainer", showContainer);
    }

    function changeContainerVisibility() {
        var e = document.querySelector("#container-area");
        var showContainer = e.classList.contains("hidden") ? true : false;
        setContainerVisibility(showContainer);
    }

    function setupContainerIndicator() {
        /* load variables from session storage */
        var showContainer = sessionStorage.getItem("showContainer") === "true";

        setContainerVisibility(showContainer);
    }

    window.onload = setupContainerIndicator();
</script>
{{ end }}
