<footer class="bottom-0 w-full p-2 text-xs text-center text-slate-500">
  <p>
    <small class="font-extralight text-slate-400 dark:text-slate-600">
      {{ replace (replace site.Copyright "{year}" (now.Format "2006")) "{title}" site.Title }}
    </small>
  </p>
</footer>

{{- $theme_js := partial "assets/js.html" (dict "src" "/js/theme-manager.js" "page" .) }}

<script type="module" async>
  import { ThemeManager } from "{{ $theme_js.RelPermalink }}";
  window.tm = new ThemeManager();
  window.onload = window.tm.setupThemeIndicator();
</script>
