<header class="py-6">
    <nav class="flex flex-col">
        <div class="flex justify-between">
            {{/*  logo  */}}
            <a href="{{ .Site.Home.Permalink }}" class="flex items-center">
                <img src="{{ .Site.Params.Logo }}" alt="{{ .Site.Params.Heading }}" class="h-16 sm:h-40" >
                <span class="sr-only">{{ .Site.Params.Heading }}</span>
            </a>
            {{/*  theme  */}}
            <div>
                <button type="button" id="theme-toogle" onclick="window.tm.changeTheme()"
                    class="hover:text-cyan-500">
                    {{- partialCached "svg/theme/toggle-dark.svg"
                    (dict "id" "theme-toggle-dark" "class" "hidden w-6 h-6 fill-current") }}
                    {{- partialCached "svg/theme/toggle-light.svg"
                    (dict "id" "theme-toggle-light" "class" "hidden w-6 h-6 fill-current") }}
                </button>
                <label class="sr-only">Switch Theme</label>
            </div>
        </div>
        {{/*  menu  */}}
        <div class="flex justify-end cursor-pointer">
            {{- partial "menu-head.html" (dict "menuID" "main" "page" .) }}
        </div>
    </nav>
</header>
