<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- with .Params.Author }}
    <meta name="author" content="{{ . }}" />
    {{- end }}
    <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta name="keywords" content="{{ with .Params.Keywords }}{{ . }}{{ else }}{{ .Site.Params.Keywords }}{{ end }}" />
    <title>{{ block "title" . }}{{- .Title }} - {{ .Site.Title -}} {{ end }}</title>
    {{ partialCached "assets/css.html" (dict "src" "css/styles.css" "page" .) }}
    {{ partialCached "assets/fonts.html" . }}
    {{- $theme_js := partial "assets/js.html" (dict "src" "/js/theme-manager.js" "page" .) }}
    <script type="module" async>
        import {getThemeState} from "{{ $theme_js.RelPermalink }}";
        getThemeState();
    </script>
</head>
