<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- with .Params.Author }}
    <meta name="author" content="{{ . }}" />
    {{- end }}
    <meta name="description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta name="keywords" content="{{ with .Params.Keywords }}{{ . }}{{ else }}{{ .Site.Params.Keywords }}{{ end }}" />
    <title>{{ block "title" . }}{{- .Title }} - {{ .Site.Title -}} {{ end }}</title>
    {{ partialCached "assets/favicon" . }}
    {{ partialCached "assets/css" (dict "Page" . "src" "css/styles.css") }}
    {{ partialCached "assets/fonts" . }}
    {{ partialCached "assets/js" (dict "src" "js/head.js") "head" }}

</head>
