{{ define "main" }}
    <div class="px-2 mx-auto sm:px-4 md:px-0 justify-self-center">
        <h1 class="text-center">
            {{ .Title }}
        </h1>
    </div>
    <div class="flex flex-col xl:flex-row">
        <article class="mx-auto mb-16 justify-self-center sm:px-4 md:px-0">
            {{ .Content }}
        </article>
        <aside class="self-center mt-2 xl:self-start lg:mt-32 min-w-fit xl:max-w-xs">
            {{- partialCached "sections/calendar" (dict "page" . ) }}
        </aside>
    </div>
{{ end }}
